:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

html, body, #root {
  background: white;
}

.shadow {
  box-shadow: 0 0 3px 0 rgba(30, 30, 30, 0.33);
}

.normalCursor, .normalCursor * {
  cursor: default !important;
}

.reportListItemHover {
  transition: 200ms;
}

.reportListItemHover:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.iconHover {
  color: rgba(0, 0, 0, 0.0);
  transition: 200ms;
}

.parentIconHover:hover > .iconHover {
  color: rgba(0, 0, 0, 0.25);
}


.iconHover:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}